#simulation_graphique
{
width:99,5%;
height:500px;
margin:auto;
border:1px solid red;
overflow:hidden;
}
 
 
#simulation_zone_graphique
{
display:inline-block;
vertical-align:top;
height:500px;
padding:0px;
margin:0px;
}
